<footer class="footer-one style2">
            <!--Start Footer-->
            <div class="footer">
                <div class="container">

                    <div class="footer-one__top">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="footer-one__top-text">
                                    <h2>Souscrire à notre newsletter</h2>
                                    <p>Recevez les dernières nouvelles et conseils</p>
                                </div>
                            </div>

                            <div class="col-xl-7">
                                <div class="footer-one__top-form">
                                    <form class="subscribe-form" action="#">
                                        <div class="input-box">
                                            <input type="email" name="email" placeholder="Entrez votre adresse email" required>
                                        </div>
                                        <button type="submit">
                                            <span class="text">Souscrire</span>
                                            <i class="icon-send-message"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


            <div class="footer-one__bottom">
                <div class="container">
                    <div class="bottom-inner">

                        <div class="footer-one__bottom-left">
                            <div class="title-box">
                                <h4>Suivez-nous</h4>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><span class="icon-facebook-logo"></span></a></li>
                                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li><a href="#"><span class="icon-pinterest"></span></a></li>
                                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="copyright">
                            <p>©2026 <a href="">Sénat des jeunes - songon</p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!--End Footer One-->

   
   